/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

h1 {
    text-align: left;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3 {
    text-align: justify;
    max-width: 750px;
    margin: auto;
}

p {
    text-align: justify;
    max-width: 750px;
    margin: auto;
}

.bod {
    text-align: justify;
    max-width: 750px;
    margin: auto;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
  }

.table {
    margin: auto;
    width: 30% !important;
    margin-bottom: 50px;
}

div#loading {
    margin: auto;
    width: 800px;
    height: 600px;
    display: none;
    background: url(loading.gif) no-repeat;
    cursor: wait;
}