{% extends "layout.html" %}

{% block title %}
    Evaluated
{% endblock %}

{% block main %}

    <h1 class="text-start">{{ result.name }} ({{ result.sym }})</h1>

    <h2 style="color:green">{{ result.price }}</h2>

    <table class="table table-responsive-lg">
        <tr style="width: 100%">
          <td class="text-start" style="width: 33%">Fair Value</td>
          <td class="text-start" style="width: 33%">Discount</td>
          <td class="text-start" style="width: 33%">Growth Est</td>
        </tr>
        <tr>
          <th class="text-start">{{ result.stickerPrice }}</th>
          <th class="text-start">{{ result.discount }}</th>
          <th class="text-start">{{ result.analystGrowthRate }}</th>
        </tr>
    </table>

    <table class="table table-responsive-lg">
        <tr>
            <td class="text-start" style="width: 33%">Rating</td>
            <td class="text-start" style="width: 33%">Mgmt History</td>
            <td class="text-start" style="width: 33%">Growth History</td>
        </tr>
        <tr>
            <th class="text-start">{{ result.rating }}</th>
            <th class="text-start">{{ result.management_message }}</th>
            <th class="text-start">{{ result.growth_message }}</th>
        </tr>
    </table>

    <!-- <table class="table table-responsive-lg">
        <tr>
            <td class="text-start" style="width: 33%">My Estimated Growth Rate</td>    
            <td class="text-start" style="width: 33%">Safe Price</td>
        </tr>
        <tr>
            <th class="text-start">{{ growthRate }}</th>
            <th class="text-start">{{ safePrice }}</th>
        </tr>
    </table> -->

    {% for table in tables %}
        <h2>{{ titles[loop.index] }}</h2>
        {{ table | safe }}
    {% endfor %}

{% endblock %}