{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>

       <tbody>
            <!-- {% for row in rows %}
                <tr>
                    <th class="text-start">{{ row.symbol }}</th>
                    <th class="text-start">{{ row.name }}</th>
                    <th class="text-end">{{ row.shares }}</th>
                    <th class="text-end">{{ row.cost | usd }}</th>
                    <th class="text-end">{{ row.value | usd }}</th>
                </tr>
            {% endfor %} -->
        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <!-- <td class="border-0 text-end">{{ cash }}</td> -->
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}