{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

{% block main %}

    <div class="bod">
        <h1 id="stock-analysis-for-value-investing">Stock Analysis for Value Investing</h1>
        <hr>
        <h3 id="video-demo-url"><a href="https://youtu.be/dQw4w9WgXcQ">Video Demo</a></h3>
        <hr>
        <h3 id="description">Description</h3>
            <br>
            <p class="text-start">This project implements a website that analyzes the “value” of a given company based on historical SEC filings. This tool allows the user to input a company’s ticker symbol, check the current price, and compare the current price to an estimated “sticker price” for the company based on value investing theory.</p>
            <br>
            <p>Value investing requires analysis of the financial position of a company using 5 key metrics to determine the estimated intrinsic value and “sticker price”. We want to see a comparison between the estimated sticker price and the current stock price. If the current stock price is much lower than the estimated sticker price, it may be a good time to buy!</p>
            <br>
            <p>Definition from <a href="https://www.investopedia.com/terms/v/valueinvesting.asp">investopedia:</a></p>
            <blockquote cite="https://www.investopedia.com/terms/v/valueinvesting.asp">
                <p>Value investing is an investment strategy that involves picking stocks that appear to be trading for less than their intrinsic or book value. Value investors actively ferret out stocks they think the stock market is underestimating. They believe the market overreacts to good and bad news, resulting in stock price movements that do not correspond to a company's long-term fundamentals. The overreaction offers an opportunity to profit by buying stocks at discounted prices—on sale.</p>
            </blockquote>
        <hr>    
        <h3 id="specification">Specification</h3>
        <br>
            <p><code>scraper</code></p>
                <ul class = "text-align: justify max-width: 1000px margin: auto">
                    <li>Scrape public company data from <a href="https://www.sec.gov/dera/data/financial-statement-data-sets.html">the SEC website</a>. 10-k filings from the last 10 years should be downloaded and parsed if available.</li>
                </ul>
            <p><code>management</code></p>
                <ul>
                    <li>DE Ratio (0 &lt; total liabilities / total shareholder equity &lt; 5).</li>
                    <li>Current Ratio (current assets / current liabilities &gt; 1).</li>
                    <li>Durability (Long term debt / annual free cash flow &lt; 3).</li>
                    <li>Does the CEO buy stocks of the company?</li>
                    <li>Does the CEO own a large amount of stock?</li>
                </ul>
            <p><code>key_metrics</code></p>
                <ul>
                    <li>Calculate the intrinsic value of a company based on the data available.</li>
                    <li>Return on Investment Capital.</li>
                    <li>Sales Growth Rate.</li>
                    <li>Earnings Per Share Growth Rate.</li>
                    <li>Equity Growth Rate (BVPS).</li>
                    <li>Operating Cash Flow Growth Rate.</li>
                </ul>
            <p><code>sticker_price</code></p>
                <ul>
                    <li>Current EPS (TTM EPS).</li>
                    <li>Future EPS growth rate (estimated).</li>
                    <li>Based primarily on historical Equity (BVPS) growth rate, then on EPS, Sales, &amp; Cash Flow growth rates.</li>
                    <li>Compare to analyst’s 5 year projection <a href="https://www.zacks.com/stock/quote/NKE/detailed-estimates">zacks.com - detailed estimates</a>, use the lower of the 2.</li>
                    <li>Future PE (estimated).</li>
                    <li>Default future PE = EPS growth rate estimate x 2.</li>
                    <li>Compare Default future PE to historical average PE, use lower of the 2.</li>
                    <li>Minimum Acceptable Rate of Return % (Rule #1 MARR = 15%). value_investing</li>
                </ul>
            </p>
    </div>

{% endblock %}